@media (max-width:1092px)
{
    .lineChartDiv{margin:0px auto;
    
    display: flex;
justify-content: center;}


}


@media(max-width:596px)
{
.lineeCh{display: none;}
.lineChartForSmallScree{display: block;}
}

@media(min-width:596px)
{
.lineeCh{display: block;}
.lineChartForSmallScree{display: none;}

}